

<div class="container list">
  Pytanie: <h4 class="question"></h4>

  odpowiedzi:
  <ul class="list-group">
    <li class="list-group-item"></li>
    <li class="list-group-item"></li>
    <li class="list-group-item"></li>
    <li class="list-group-item"></li>
  </ul>

  <div class="buttons">
    <button class="btn btn-danger previous">Poprzedni</button>
    <button class="btn btn-success next">Nastepny</button>
  </div>

  <h4>Twoje Punkty: <span class="score">0</span>/20 punktow.</h4>
</div>
<div class="container results" style="display: none">
  <div class="btn-group-custom">
    <button class="btn btn-success btn-custom restart">Powtorz quiz</button>
  </div>
  <div class="score">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>#</th>
        <th>Punkty/20</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <th scope="row">Punkty:</th>
        <td class="userScorePoint"></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>






