<div class="navbar">
</div>

<iframe width="100%"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2563.772119755204!2d20.988121615715695!3d50.01562627941773!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x473d8354fe68ac69%3A0xb016235c60a68f9e!2sPa%C5%84stwowa+Wy%C5%BCsza+Szko%C5%82a+Zawodowa!5e0!3m2!1spl!2spl!4v1540229369662"
        height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
<p style="margin:5px;">
  Państwowa Wyższa Szkoła Zawodowa w Tarnowie <br> ul. Mickiewicza 8 <br> 33-100 Tarnów
</p>

<br>
<h1>Dyżury w sekretariacie
</h1>
<ul>
  <li>Poniedziałek 13:00 – 14:00, p. C09</li>
  <li>Wtorek 08:00 – 10:00, p. C09</li>
  <li>Czwartek 10:00 – 11:00, p. C09</li>
</ul>
<!--<script src="js/navbar.js" type="text/javascript"></script>-->
